@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Bd.eot');
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Bd.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Bd.woff') format('woff'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Bd.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.eot');
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Lt.woff') format('woff'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Lt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Roman.eot');
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Roman.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Roman.woff') format('woff'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Roman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Helvetica Neue LT Std';
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Md.eot');
	src: url('../fonts/helvetica/HelveticaNeueLTStd-Md.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Md.woff') format('woff'),
		url('../fonts/helvetica/HelveticaNeueLTStd-Md.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}
