section_data,
section_fields,
section_properties,
section_override_html{
    display: none;
}


section.module.zoom {
    -moz-transform: scale(0.3, 0.3);
    zoom: 0.3;
    zoom: 30%;
}
    section.module.zoom .inline-input-image-container,
    section.module.zoom .tools .label-section-type,
    section.module.zoom .tools .delete,
    section.module.zoom .tools .clone,
    section.module.zoom .tools .edit {
        display: none;
    }
    section.module.zoom .tools {
        padding: 2px;
        -moz-transform: scale(2, 2);
        zoom: 2;
        zoom: 200%;
    }

#toolbar{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    background-color: rgba(255,255,255,0.8);
    padding: 10px;
    z-index: 10;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
    transition: opacity .25s ease;
    transition: opacity .25s ease;
}
#toolbar:hover{
    opacity: 1;
}
#toolbar h1{
    margin-top: 10px;
    cursor: -webkit-grab;
}

#toolbar button.btn{
    margin-left: 5px;

}

a[href='https://froala.com/wysiwyg-editor'] { display: none !important; }

.tools{
    position: absolute;
    z-index: 5;
    left: 25px;
    top: 25px;
    padding: 2px;
    padding-right: 5px;
    padding-left: 12px;
    border-radius: 3px;
    cursor: default;
    background-color: rgba(255,255,255,1);
    color: #222;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    user-select: none;
    -o-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-background-clip: padding;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,.12),0 1px 1px 1px rgba(0,0,0,.16);
    box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 1px 1px rgba(0,0,0,.16);
    text-align: left;
    border: 0;
    border-top: 5px solid #222;
    text-rendering: optimizelegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: none;
}
.section.selected .tools {
    display: block;
}


.tool{
    display: block;
    font-size: 18px;
    float: right;
    cursor: pointer;
    padding: 10px;
    opacity: 1;
}
.tool:hover{
    background-color: #ebebeb;
}
.tool.handler{
    cursor: -webkit-grab;
}

#sections .section.selected{
    opacity:1;
}

/* NO TOCAR ESTOS SELECTORES O SE PIERDE EL PLACEHOLDER*/
#sections .sortable-ghost article{
    background-color: #ffd700;
}
#sections .sortable-chosen article{
    background-color: #ffd700;
}

#sections .section.selected:not(.sortable-chosen) article{
    background: -webkit-repeating-linear-gradient(45deg, #bbb, #bbb 10px, #ccc 10px, #ccc 20px);
    background: repeating-linear-gradient(45deg, #bbb, #bbb 10px, #ccc 10px, #ccc 20px);
}
#sections .section.selected:not(.sortable-chosen) .contents{
    background-color: rgba(0,0,0,0.15);

}
#sections .section .contents{
    transition: opacity 1.2s ease;
    transition: opacity 1.2s ease;
    opacity: 1;
}

#sections .section.highlighted .contents{
    opacity: 0.2;
}

.section .label-section-type{
 /*   float: left;
    height: 38px;
    font-size: 14px;
    color: #333;
    line-height: 38px;
    margin-right: 5px;*/

    float: left;
    height: 38px;
    font-size: 12px;
    color: #333;
    line-height: 16px;
    margin-right: 5px;
    max-width: 200px;
    padding-top: 4px;
}
.section .label-section-type strong{
    /*color: #00a;*/
}
.section .label-section-type span{
    color: #00a65a;
}



.admin{
    font-size: 14px;
}

#section_static_fields{
    display: none;
}
#section_dynamic_fields{
    margin: 0px;
    padding: 0px;
}

#section_type{
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #bbb;
}
#section_content{
    display: none;
    width: 100%;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #bbb;
}


.modal-body .loader{
    opacity: 0;
    position: absolute;
    left: 50%;
    z-index: 10;
    margin-left: -15px;
    bottom: -20px;
    transition: opacity .2s ease;
    transition: opacity .2s ease;
}

.modal-body.loading{
    opacity: 0.35;
    transition: opacity .2s ease;
    transition: opacity .2s ease;
}
.modal-body.loading .loader{
    opacity: 1;
}

/* para el objectLink en el modal del live*/
.select2-container{
    width: 100% !important;
}



body ul#sections {
    margin-top: 40px;
}