
$color-default: #8b969c;

// Override Variables
$brand-primary: #000000;
$brand-success: #00e195;
$brand-info: #0bbff2;
$brand-warning: #ffd042;
$brand-danger: #e02745;
$brand-secondary: #333333;
$brand-white: #ffffff;
$brand-gray: #ccc;
$brand-gray-dark: #7b7b7b;
$brand-gray-medium: #eaeaea;
$brand-gray-light: #f6f6f6;
$brand-black: #000000;
$brand-darker: #2e2e2e;
$brand-lighter: #ebebeb;
$brand-darker-2: #282e3c;
$brand-special: #000000;

// $main-menu-small-bgcolor: rgba(0,0,0,0.95);
$main-menu-small-color: #959595;
$main-menu-small-active-bg: #5d5c5c;


$primary-font : 'Raleway', sans-serif;
$secondary-font : 'Open Sans', sans-serif;
// $secondary-font : 'Montserrat', sans-serif;
// $primary-font : 'Open Sans', sans-serif;
